{% include "header.html" %}

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in empleados %}
                <tr>
                    <td>{{e[0]}}</td>
                    <td>{{e[1]}}</td>
                    <td>{{e[2]}}</td>
                    <td>
                        <img src="uploads/{{e[3]}}" alt="" class="img-thumbnail" width="100">
                    </td>
                    <td><a href="/edit/{{e[0]}}">Editar</a> - <a href="/destroy/{{e[0]}}">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% include "footer.html" %}

